<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons  slot="start">
	   <ion-back-button  defaultHref="/tabs/profiles">
	   </ion-back-button>
    </ion-buttons>
    <ion-title>John Doe</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<div profileinfo>
<div profileimg>
  <img src="assets/img/proifle-bg.jpg"/>
</div>
<div userimg>

<img src="assets/img/profile4.jpg">
<p radius>22-02-2001</p>
<p radius>Room No 12</p>
</div>
</div>
<div providerprofile>
<div formgroup>	
<ion-label>Note</ion-label>   
<ion-item lines="none">
  <ion-textarea rows="5" placeholder="Type Here..."></ion-textarea>
</ion-item>	
</div> 
    <div tody-list>
	<div list-head>
		<h2 heading>Schedule</h2>
			<ion-button class="login-btn" color="primary" shape="round" slot="end">
				<ion-icon class="icn-circle" name="videocam-outline"></ion-icon> <span>Open</span>
			</ion-button>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>John Smith</h2>
			<p>Today, 4:00 PM</p>
			</div>
		</div>
    </div> 
    <div tody-list>
	<div list-head>
		<h2 heading>Call History</h2>
			<ion-button class="login-btn"  color="primary" shape="round" slot="end">
				<ion-icon class="icn-circle" name="call-outline"></ion-icon> <span>View Call History</span>
			</ion-button>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>John Smith</h2>
			<p>Yestarday, 4:00 PM</p>
			</div>
			<!-- <p class="pos-ab"><ion-icon name="time-outline"></ion-icon> 4:00 PM</p> -->
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>David Smith</h2>
			<p>Monday, 4:00 PM</p>
			</div>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>Steve Smith</h2>
			<p>Saturday, 4:00 PM</p>
			</div>
		</div>
    </div>
	  <div tody-list>
	<div list-head>
		<h2 heading>Contacts</h2>
			<ion-button class="login-btn"  color="primary" shape="round" slot="end">
				<ion-icon class="icn-circle" name="call-outline"></ion-icon> <span>View All</span>
			</ion-button>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>John Smith</h2>
			
			</div>
			<!-- <p class="pos-ab"><ion-icon name="time-outline"></ion-icon> 4:00 PM</p> -->
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>David Smith</h2>
			
			</div>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>Steve Smith</h2>
			
			</div>
		</div>
    </div>
		<ion-row class="margin-top40">
			<ion-col size="6" pd-l-0>
			<ion-button (click)="presentModal2()" class="login-btn" color="primary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-phone"></ion-icon> <span>Add Contact</span>
			</ion-button>		
			</ion-col>
			<ion-col size="6"pd-r-0>
			<ion-button (click)="presentModal()" class="login-btn" color="primary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-phone"></ion-icon> <span>New Call</span>
			</ion-button>		
			</ion-col>
		</ion-row>
</div>
</ion-content>

