<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Chats</ion-title>

  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">

    <div alllist >
     
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile1.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">2</ion-badge>
		 </div>
	   </ion-item>
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile2.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">1</ion-badge>
		 </div>
	   </ion-item>
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile3.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">3</ion-badge>
		 </div>
	   </ion-item>
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile4.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">5</ion-badge>
		 </div>
	   </ion-item>
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile1.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">3</ion-badge>
		 </div>
	   </ion-item>
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile2.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Doe</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">1</ion-badge>
		 </div>
	   </ion-item>
	   <ion-item routerLink="/messages" lines="none">
	     <ion-avatar>
		   <img src="assets/img/profile3.jpg"/>
	     </ion-avatar>
		 <ion-label>
		 <h2>John Smith</h2>
		 <p>01:39AM</p>
		 </ion-label>
		 <div class="view-sec" slot="end">
		 <ion-badge color="primary">2</ion-badge>
		 </div>
	   </ion-item>
	</div>
</ion-content>

