<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Home</ion-title>
	 <ion-button slot="end">
	   <ion-icon name="settings-outline"></ion-icon>
    </ion-button>	
  </ion-toolbar>
</ion-header>

<ion-content>
<div providerprofile>
    <div tody-list>
	 <div mn-head>
		<h2 heading>Facility Name</h2>

	</div>
	<div list-head>
		<h2 heading>Call List</h2>
			<ion-button class="login-btn"  color="primary" shape="round" slot="end">
				<ion-icon class="icn-circle" name="call-outline"></ion-icon> <span>View Call List</span>
			</ion-button>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>John Smith</h2>
			<p>4:00 PM</p>
			</div>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>John Smith</h2>
			<p>4:00 PM</p>
			</div>
		</div>
		<div list-ul>
		<span><ion-icon name="person-sharp"></ion-icon></span>
		<div pad-left>
			<h2>John Smith</h2>
			<p>4:00 PM</p>
			</div>
		</div>
    </div>
		<ion-row class="margin-top40">
			<ion-col size="6" pd-l-0>
			<ion-button class="login-btn" color="primary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-user"></ion-icon> <span>Add User</span>
			</ion-button>		
			</ion-col>
			<ion-col size="6"pd-r-0>
			<ion-button class="login-btn" color="primary" shape="round" expand="full">
				<ion-icon class="icn-circle fa fa-phone"></ion-icon> <span>Add Call</span>
			</ion-button>		
			</ion-col>
		</ion-row>
</div>
</ion-content>

